<%- include header %>

<form method="post">
	<p>标题:</p>
	<input type="text" name="title">
	<p>文章:</p>
	<textarea name="post" rows="20" cols="100"></textarea>
	<br>
	<input type="submit" value="  发表  ">
</form>

<%- include footer %>