<%- include header %>
<form id="form" method="post">
	<div>name:<input type="text" name="name"></div>
	<div>pwd: <input type="password" name="pwd"></div>
</form>
<button id="login">登陆</button>
<button id="resgister">注册</button>

<% if (success){ %>
<div><%= success %></div>
<% } %>
<% if (error) { %>
<div><%= error %></div>
<% } %>
<%- include footer %>