<%- include header %>
<form id="form" method="post">
	<pre>
		name:<input type="text" name="name">
		pwd: <input type="password" name="pwd">
             <button id="btn">提交</button>
	</pre>
</form>
<%- include footer %>